extends layout

block metas
    link(rel='stylesheet', href='/stylesheets/room.css')
    link(rel='stylesheet', href='/stylesheets/theme.css')

    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/theme.js')
    script(src='/javascripts/room.js')
    script(src='/templates/chat_message.js')

    if Room.Host === UserAliasCookie
        script(src='/javascripts/host.js')

block content
    nav.navbar.navbar-expand-sm
        a.navbar-brand.btn.btn-primary-outline.font-weight-bold.wobbly-border.transparent-bg.px-3(href='/', title='Home')
            img.mr-3(src='/images/icon_transparent.png', width='48', height='48', alt='Home')
            | Buddy-19
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar-content', aria-controls='navbar-content', aria-expanded='false', aria-label='Toggle navigation')
            span.material-icons.ms-48 menu
        #navbar-content.collapse.navbar-collapse
            .room-header #{Room.Name}
            ul.navbar-nav.ml-auto
                li.nav-item.dropdown
                    a#navbar-dropdown-link.nav-link.d-none.d-sm-block(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        span.material-icons.ms-48 menu
                    .dropdown-menu.dropdown-menu-right(aria-labelledby='navbar-dropdown-link')
                        span(data-toggle="collapse" data-target="#navbar-content.show" aria-expanded="false" aria-controls="navbar-content")
                            a.dropdown-item.d-flex.aling-items-center.justify-content-center(href="#" title="Profile" data-toggle="modal" data-target="#profile-modal")
                                span.material-icons.mr-1 person
                                | User Profile
                        span(data-toggle="collapse" data-target="#navbar-content.show" aria-expanded="false" aria-controls="navbar-content")
                            a.dropdown-item.d-flex.aling-items-center.justify-content-center(href="#" title="Profile" data-toggle="modal" data-target="#settings-modal")
                                span.material-icons.mr-1 settings
                                | Room Settings
                        span(data-toggle="collapse" data-target="#navbar-content.show" aria-expanded="false" aria-controls="navbar-content")
                            a.dropdown-item.d-flex.aling-items-center.justify-content-center(href="#" title="Profile" data-toggle="modal" data-target="#qr-modal")
                                span.material-icons.mr-1 filter_center_focus
                                | Room Code

    #main-wrapper.container.my-3(data-room=RoomId data-type=Room.Type)
        #chat-wrapper.wobbly-border.border-md-0
            #chat-history
                #chat-display.container-fluid.pl-1.pt-1
                .position-relative
                    input#chat-input.form-control.border-0.mb-1(type='text', placeholder='Type a message')
                    button#btn-chat-send.btn.btn-light(type='button') Send

    #profile-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='profile-modal-label', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#profile-modal-label.modal-title.font-weight-bold Profile Settings
                    button.close.text-dark(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    .container
                        .row.mr-md-0
                            label(for="userAvatar") Avatar:
                        .row.d-flex.flex-wrap
                            .mx-1
                                input#avatarCat.d-none(type="radio" name="userAvatar" value="avt-cat" checked=(User.Avatar === 'avt-cat' ? true : false))
                                label.avatar-label.avt-cat(for="avatarCat" title="Cat")
                            .mx-1
                                input#avatarDeer.d-none(type="radio" name="userAvatar" value="avt-deer" checked=(User.Avatar === 'avt-deer' ? true : false))
                                label.avatar-label.avt-deer(for="avatarDeer" title="Deer")
                            .mx-1
                                input#avatarDog.d-none(type="radio" name="userAvatar" value="avt-dog" checked=(User.Avatar === 'avt-dog' ? true : false))
                                label.avatar-label.avt-dog(for="avatarDog" title="Dog")
                            .mx-1
                                input#avatarElephant.d-none(type="radio" name="userAvatar" value="avt-elephant" checked=(User.Avatar === 'avt-elephant' ? true : false))
                                label.avatar-label.avt-elephant(for="avatarElephant" title="Elephant")
                            .mx-1
                                input#avatarFox.d-none(type="radio" name="userAvatar" value="avt-fox" checked=(User.Avatar === 'avt-fox' ? true : false))
                                label.avatar-label.avt-fox(for="avatarFox" title="Fox")
                            .mx-1
                                input#avatarGiraffe.d-none(type="radio" name="userAvatar" value="avt-giraffe" checked=(User.Avatar === 'avt-giraffe' ? true : false))
                                label.avatar-label.avt-giraffe(for="avatarGiraffe" title="Giraffe")
                            .mx-1
                                input#avatarGoat.d-none(type="radio" name="userAvatar" value="avt-goat" checked=(User.Avatar === 'avt-goat' ? true : false))
                                label.avatar-label.avt-goat(for="avatarGoat" title="Goat")
                            .mx-1
                                input#avatarKoala.d-none(type="radio" name="userAvatar" value="avt-koala" checked=(User.Avatar === 'avt-koala' ? true : false))
                                label.avatar-label.avt-koala(for="avatarKoala" title="Koala")
                            .mx-1
                                input#avatarLion.d-none(type="radio" name="userAvatar" value="avt-lion" checked=(User.Avatar === 'avt-lion' ? true : false))
                                label.avatar-label.avt-lion(for="avatarLion" title="Lion")
                            .mx-1
                                input#avatarMonkey.d-none(type="radio" name="userAvatar" value="avt-monkey" checked=(User.Avatar === 'avt-monkey' ? true : false))
                                label.avatar-label.avt-monkey(for="avatarMonkey" title="Monkey")
                            .mx-1
                                input#avatarPanda.d-none(type="radio" name="userAvatar" value="avt-panda" checked=(User.Avatar === 'avt-panda' ? true : false))
                                label.avatar-label.avt-panda(for="avatarPanda" title="Panda")
                            .mx-1
                                input#avatarPig.d-none(type="radio" name="userAvatar" value="avt-pig" checked=(User.Avatar === 'avt-pig' ? true : false))
                                label.avatar-label.avt-pig(for="avatarPig" title="Pig")
                            .mx-1
                                input#avatarRaccoon.d-none(type="radio" name="userAvatar" value="avt-raccoon" checked=(User.Avatar === 'avt-raccoon' ? true : false))
                                label.avatar-label.avt-raccoon(for="avatarRaccoon" title="Raccoon")
                            .mx-1
                                input#avatarTiger.d-none(type="radio" name="userAvatar" value="avt-tiger" checked=(User.Avatar === 'avt-tiger' ? true : false))
                                label.avatar-label.avt-tiger(for="avatarTiger" title="Tiger")
                            .mx-1
                                input#avatarWolf.d-none(type="radio" name="userAvatar" value="avt-wolf" checked=(User.Avatar === 'avt-wolf' ? true : false))
                                label.avatar-label.avt-wolf(for="avatarWolf" title="Wolf")

                        .row.mr-md-0.d-flex.align-items-center
                            label.col-4.col-md-3(for="userName") User Name:
                            input#userName.form-control.col-8.col-md-9(type="text" placeholder="Enter a nickname" value=User.Name)
                .modal-footer
                    button.btn.btn-primary(type="button") Save changes
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Close

    #settings-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='settings-modal-label', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#settings-modal-label.modal-title.font-weight-bold Room Settings
                    button.close.text-dark(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    //- if Room.Host === UserAliasCookie
                                        .form-group.col-md.pl-3.pl-sm-5
                    .container
                        .row.mr-md-0
                            label.col-md-6(for="roomTheme") Theme:
                        .row.mr-md-0
                            .col-lg-2.col-4
                                input#themePentagon.d-none(type="radio" name="roomTheme" value="bg-pentagon" checked=(selected_theme === 'bg-pentagon' ? true : false))
                                label.theme-label.bg-pentagon(for="themePentagon" title="Pentagons")
                            .col-lg-2.col-4
                                input#themeSquigly.d-none(type="radio" name="roomTheme" value="bg-squiggly" checked=(selected_theme === 'bg-squiggly' ? true : false))
                                label.theme-label.bg-squiggly(for="themeSquigly" title="Squiggly Lines")
                            .col-lg-2.col-4
                                input#themePolka.d-none(type="radio" name="roomTheme" value="bg-polka" checked=(selected_theme === 'bg-polka' ? true : false))
                                label.theme-label.bg-polka(for="themePolka" title="Polka Dots")
                            .col-lg-2.col-4
                                input#themeSymphony.d-none(type="radio" name="roomTheme" value="bg-symphony" checked=(selected_theme === 'bg-symphony' ? true : false))
                                label.theme-label.bg-symphony(for="themeSymphony" title="Symphony")
                            .col-lg-2.col-4
                                input#themeSakura.d-none(type="radio" name="roomTheme" value="bg-sakura" checked=(selected_theme === 'bg-sakura' ? true : false))
                                label.theme-label.bg-sakura(for="themeSakura" title="Sakura Leaves")
                            .col-lg-2.col-4
                                input#themeChristmas.d-none(type="radio" name="roomTheme" value="bg-christmas" checked=(selected_theme === 'bg-christmas' ? true : false))
                                label.theme-label.bg-christmas(for="themeChristmas" title="Christmas")
                        .row.mr-md-0
                            .col-lg-2.col-4
                                input#themeZigzag.d-none(type="radio" name="roomTheme" value="bg-zigzag" checked=(selected_theme === 'bg-zigzag' ? true : false))
                                label.theme-label.bg-zigzag(for="themeZigzag" title="Zig Zags")
                            .col-lg-2.col-4
                                input#themeWifi.d-none(type="radio" name="roomTheme" value="bg-wifi" checked=(selected_theme === 'bg-wifi' ? true : false))
                                label.theme-label.bg-wifi(for="themeWifi" title="Wifi Signal")
                            .col-lg-2.col-4
                                input#themeCircles.d-none(type="radio" name="roomTheme" value="bg-circular" checked=(selected_theme === 'bg-circular' ? true : false))
                                label.theme-label.bg-circular(for="themeCircles" title="Circles")
                            .col-lg-2.col-4
                                input#themeYellow.d-none(type="radio" name="roomTheme" value="bg-yellow" checked=(selected_theme === 'bg-yellow' ? true : false))
                                label.theme-label.bg-yellow(for="themeYellow" title="Yellow")
                            .col-lg-2.col-4
                                input#themeTriangles.d-none(type="radio" name="roomTheme" value="bg-gplay" checked=(selected_theme === 'bg-gplay' ? true : false))
                                label.theme-label.bg-gplay(for="themeTriangles" title="Triangles")
                            .col-lg-2.col-4
                                input#themeCanadian.d-none(type="radio" name="roomTheme" value="bg-canadian" checked=(selected_theme === 'bg-canadian' ? true : false))
                                label.theme-label.bg-canadian(for="themeCanadian" title="Canadian Dollar")
                        .row.mr-md-0
                            label.col-md-6(for="roomVolume") Volume:
                            .d-flex.align-items-center.w-100
                                a#btnVolumeMute.btn.btn-lg.d-flex.align-items-center(href='#' type="button" alt="Mute")
                                    span.material-icons volume_mute
                                input#roomVolume.flex-fill.custom-range.w-unset.h-unset(type="range" value=70)
                                a#btnVolumeAll.btn.btn-lg.d-flex.align-items-center(href='#' type="button" alt="Full")
                                    span.material-icons volume_up

    #qr-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='qr-modal-label', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#qr-modal-label.modal-title.font-weight-bold Room Code: #{RoomId}
                    button.close.text-dark(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    - let room_url = "https://" + DOMAIN_NAME + "/room/" + RoomId
                    - let qr_url = "https://chart.googleapis.com/chart?cht=qr&chs=512x512&chl=" + room_url + "chld=H"
                    label(for="qr_room_url") Invite your friends using the url below
                    .input-group
                        input#qr_room_url.form-control(type="text" value=room_url autofocus readonly)
                        .input-group-append
                            button#btn_copy_url.btn.btn-primary(type='submit')
                                | Copy
                    label.pt-3 Or use the QR code below
                    a(href=qr_url, target="_blank", rel="noopener", title="QR Code")
                        img.img-fluid.h-100.form-control(src=qr_url, alt="QR Code")


