- var is_self = UserAlias === MessageUser.Id
- var is_title = MessageType === 2
.chat-message.d-flex.pb-1(data-userid=MessageUser.Id data-type=MessageType class=(is_self ? "justify-content-end" : "justify-content-start"))
    .d-flex(class=(is_title ? "w-80" : "w-100"))
        if (is_title)
            .pr-1.d-flex.align-items-end(class=(is_self ? "order-2" : "order-1"))
                img.mb-1.user-avatar(src="/images/user_icons/" + (MessageUser.Avatar || "user.png"), alt=MessageUser.Name)
        .flex-grow-1.px-1(class=(is_title ? is_self ? "speech-bubble sb-right order-1" : "speech-bubble sb-left order-2": "bg-light border"))
            .chat-header(class=(is_title ? "border-bottom" : ""))
                if (is_title)
                    span.h5.user-name #{MessageUser.Name}
                .chat-time.small.d-flex.align-items-center(class=(is_title ? "position-absolute" : "float-right"))
                    span.material-icons.ms-16.mx-1 access_time
                    span #{MessageTime}
            .chat-text.px-1
                p.p-wrap.mb-0(title=TextHint) #{MessageText}
